<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auto Transport Content Generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="app">

  <!-- Navigation -->
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6 is-offset-3">
              <h1 class="title is-2">{{appTitle}}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-relative">
      <div class="columns">
        <div class="column is-4 is-fixed-xl">

          <!-- Select State -->
          <div class="field">
              <label class="label">Main State</label>
              <div class="control">
                <div class="select">
                  <select v-model="mainStateAbbreviation">
                    <option
                      v-for="state in allStates"
                      :value="state.abbreviation">
                        {{ state.name }}  
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Select number of cities -->
            <div class="field">
              <div class="control">
                <label class="label" for="random-city-number">Random City Number</label>
                <input v-model="randomCityNumber" class="input" id="random-city-number" type="number">
              </div>
            </div>

            <!-- Select number of body types -->
            <div class="field">
              <div class="control">
                <label class="label" for="random-body-type-number">Random Body Type Number</label>
                <input v-model="randomBodyTypeNumber" class="input" id="random-body-type-number" type="number">
              </div>
            </div>

            <!-- Select number of accessories -->
            <div class="field">
              <div class="control">
                <label class="label" for="random-accessory-number">Random Accessory Number</label>
                <input v-model="randomAccessoryNumber" class="input" id="random-accessory-number" type="number">
              </div>
            </div>

            <!-- Generate Button -->
            <a href="#" class="button is-medium is-success is-fullwidth"
              @click="showAllContent"
              v-if="showButton">
                Show All Content
            </a>

            <!-- Display Main State Content -->
              <div class="card"
              v-if="showContent">
              <div class="card-header">
                <span class="card-header-title">Main State:</span>
              </div>
              <div class="card-content">
                <span class="copy-content-single">
                  {{mainStateFullName}}
                </span>
              </div>
            </div>

            <!-- Display a Random Number of Random Body Types -->
            <div class="card"
              v-if="showContent">
              <div class="card-header">
                <span class="card-header-title">Random Body Types:</span>
              </div>
              <div class="card-content">
                <span class="copy-content-single">
                  {{randomVehicleBodyTypes}}
                </span>
              </div>
            </div>

            <!-- Display a Random Number of Random Body Types -->
            <div class="card"
              v-if="showContent">
              <div class="card-header">
                <span class="card-header-title">Random Accessories:</span>
              </div>
              <div class="card-content">
                <ul class="list--styled list--3-rows">
                  <li
                    v-for="randomVehicleAccessory in randomVehicleAccessories">
                      {{randomVehicleAccessory}}
                  </li>
                </ul>
              </div>
            </div>

        </div>
        <div class="column is-8">

          <!-- Display All Content -->
          <div class="card"
            v-if="showContent">
            <div class="card-header">
              <span class="card-header-title">Copy and paste the following content:</span>
            </div>
            <div class="card-content">

              <h1>{{mainStateFullName}} Auto Transport</h1>

              <p v-html="introParagraph"></p>

              <p>All the transport companies we work with have trucks in all parts of {{mainStateFullName}} including <strong>[STATE RANDOM CITIES]</strong>  several times a week. We check every auto shipping company to ensure they are fully insured, licensed and bonded through the US Department of Transportation. We check their history to ensure they have a spotless driving record and the experience to ensure your auto arrives in good condition and on time. Below are some of the {{mainStateFullName}} auto transports recently completed by our partners:</p>

              <strong>
                <ul class="list--styled list--2-rows">
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                    <li>2018 Toyota RAV4, Birmingham, AL to Napa, CA</li>
                </ul>
              </strong>

              <h2>{{mainStateFullName}} Auto Transport Rates</h2>

              <p>Your car transport requirements greatly increase or decrease the cost of having your vehicle shipped. You can save a lot by choosing open transport rather than enclosed. Auto dealerships safely receive vehicles every day from open car carrier trailers. To save money we highly recommended this option unless of course you are shipping an irreplaceable luxury, high end sports car, or antique vehicle. Other important cost factors include the size, weight and type of car or truck.</p>

              <p>The body type such as {{randomVehicleBodyTypes}} you are shipping, can also impact your rate. Usually the larger the vehicle the higher the shipping cost. If your vehicle has any non-standard accessories that have altered the size of your vehicle they can also increase the cost of shipping. Listed below are some of the accessories that can increase cost.</p>

              <ul class="list--styled list--3-rows">
                <li
                  v-for="randomVehicleAccessory in randomVehicleAccessories">
                    {{randomVehicleAccessory}}
                </li>
              </ul>

              <p>{{mainStateFullName}} auto shipping rates are calculated per mile and these rates change depending on the cost of fuel. Often you can save money by driving your vehicle to a shipping terminal and picking the vehicle up at another shipping terminal near your delivery address. This method can save you a lot of money but if you prefer or need the convenience of door to door delivery make sure that your pick-up and delivery addresses are both accessible by a commercial full-size tractor trailer.</p>

              <p>If the vehicle you are shipping is not operational this will significantly raise your rate. The time of year also affects the rates of the auto transport shipping carriers, summer is high season and the rates are increased.</p>
                
              <p>The method of payment you choose to use for your vehicle delivery can sometimes affect your rate, as some companies prefer COD. Most carriers accept COD and credit cards. Some companies will provide a small discount if you pay with cash. Please check with the company first if you desire to pay with a check.</p>

              <h4>Quick Auto Transport Rates Guide</h4>

              <strong>
                <ul class="list--styled list--3-rows">
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                    <li>[RANDOM RATES IMPACT]</li>
                </ul>
              </strong>

              <p>Regardless of these factors our partners will work to get you the lowest price for your {{mainStateFullName}} transport. You will get 10 car transport quotes from our partner auto transport shipping companies, that will best match your needs and price range. Our trusted partner’s quotes are always among the lowest rates you will find in the auto shipping business. Let us exceed your expectations and get your quotes right now. Simply fill in the form and click submit or give us a call at 1-800-590-6492 today.</p>

              <h2>Why Choose Us</h2>

              <p>When you choose us, you are choosing to get the some of the lowest rates from the best auto transport shippers in {{mainStateFullName}}. We only partner with experienced shippers that will always go the extra mile for you. By completing the form or calling 1-800-590-6492. You will receive 10 quotes from our partners transport companies. Every one of our partner carriers are federally licensed, insured and bonded.</p>

              <p>The safety records and registration of all our partners can be easily found at Federal Motor Carrier Safety Administration and we recommend and welcome you to verify their information once you have selected a carrier. For even more reviews and information about our affiliated partners you can also check with the Better Business Bureau.</p>

              <p>Our partners regularly have trucks in every location in {{mainStateFullName}} including <strong>[STATE RANDOM CITIES]</strong>.</p>

              Don’t waste any more of your time looking, allow our experienced partners to work for you. Our reliable partners have delivered thousands of vehicles from {{mainStateFullName}}.

              <p>Allow us to get you the lowest quotes and help insure your auto delivery is fast, efficient, and reliable. Allow us to help get you the best rates from the most reliable auto transport shippers you will find. Choose us now and we will get your 10 quotes today or simply call 1-800-590-6492.</p>

              <h3>{{mainStateFullName}} Auto Shipping Process</h3>

              <p>The best way to avoid any problems with your {{mainStateFullName}} car shipping is by careful preparation. Be sure that both your delivery and pick-up addresses are correct. Remember that weight is a major factor in your rate. Do not use your vehicle as a method to ship other personal items and have only a quarter tank of gas or less at the time of pick-up. You can ship an inoperable vehicle, but it will be more expensive.</p>

              <p>Vehicles that are not steerable and/or do not have operable brakes will cost significantly more. You MUST inform the carrier of the vehicles condition and be prepared to pay a higher rate. Many drivers will not transport an inoperable vehicle if they have not been first notified.</p>
                
              <p>When your vehicle is picked up you will complete a bill of lading. It is extremely important to accurately complete this document. You and the driver will inspect your vehicle and document any damage to the vehicle, such as scratches, dents, broken glass, etc. When you receive your vehicle at the delivery location be sure that you carefully check the entire vehicle prior to signing the bill of lading. Failing to do this can make it very difficult if not impossible to receive compensation for any unfortunate damage.</p>
                
              <p>We carefully choose the best auto shipping carriers in the business but should cover any unexpected issue or problems come up you should definitely report them to the Federal Motor Carrier Safety Administration.</p>

              <p>Communication is the key to a hassle free auto transport. Our {{mainStateFullName}} auto transport partners will attempt to keep you informed every step of the way. Our partners typically deliver on-time, however occasionally situations created by weather, road conditions, or other traffic problems are possible. Keeping in touch with your driver will help eliminate a lot of stress.</p>

              <h3>Pickup and Delivery Impacts</h3>

              <strong>
                <ul class="list--styled list--3-rows">
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                    <li>[SHIPPING IMPACT]</li>
                </ul>
              </strong>

              <p>Weather conditions can also impact pickup and delivery locations. On average, {{mainStateFullName}} receives 213 sunny days per year which makes auto transport pickups and drop-offs relatively easy. {{mainStateFullName}} enjoys year-round mild conditions with average temperatures near 80 during the summer months, and above 45 in the winter months. Temperatures are usually warmer in the southern part of the state with its proximity to the Gulf of Mexico, where summer highs temperatures can reach into the 90’s.</p>

              <p>The state does receive heavy rains during the summer which can impact auto shipping pickups and drop-offs. The northern parts of the state, especially in the Appalachian Mountains in the northeast, tend to be slightly cooler. Northern parts of the state receive occasional snowfalls, and rainfall is spread throughout the year with an annual rainfall of 54 inches.</p>
                
              <p>Snowfall in {{mainStateFullName}} rarely impacts car shipping schedules. Higher humidity levels and increased rainfall are common along the Gulf of Mexico and in the southwest. {{mainStateFullName}} occasionally experiences hurricanes and tropical storms that can impact pickup and delivery schedules. We recommend you track weather conditions to stay informed of any potential weather-related delays.</p>

              <p>Check here to find current weather conditions in <a :href="wundergroundURL" target="_blank" rel="noopener">{{mainStateFullName}}</a>.</p>

              <p>Traffic can also impact pickup and/or drop-off schedules. We recommend you check road and traffic conditions for delays. Check here to find current traffic conditions in <a :href="fhwaURL" target="_blank" rel="noopener">{{mainStateFullName}}</a>.</p>


            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="/script.js"></script>
</body>
</html>